/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Common Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Section Style */
.header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.header-title h2{
    color: #3A3A3A;
    font-size: 30px;
}
.cart-icon a{
    text-decoration: none;
    color: #3a3a3abc;
}
.cart-icon .fas{
    font-size: 30px;
    color: #252525;
    margin-left: 30px;
    margin-right: 5px;
}

/* Banner Section Style */
.banner{
    display: flex;
    height: 80vh;
}
.banner-content{
    width: 50%;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 55px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 1.5;
}
.banner-details{
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
}
.banner-btn{
    padding: 10px 24px;
    border-radius: 40px;
    background-color: #E02C6D;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
}
.banner-btn .fa-arrow-right{
    margin-left: -14px;
    opacity: 0;
    transition: 0.4s ease;
}
.banner-btn:hover .fa-arrow-right{
    display: inline;
    margin-left: 10px;
    opacity: 1;
}
.banner-img{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.banner-img img{
    width: 450px;
    height: 450px;
    padding: 20px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Products Section Style */
.collection{
    margin-top: 80px;
}
.collection h1{
    color: #3A3A3A;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.product{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}
.product .product-img img{
    width: 100%;
}
.product .product-name{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}
.product .product-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    margin: 8px 0;
}
.product .rating .fas{
    color: #FB8200;
    font-size: 12px;
}
.product .rating span{
    font-size: 14px;
    color: #5E6366;
    font-weight: 700;
}
.product .product-detail p{
    font-size: 14px;
    color: #787885;
    font-weight: 700;
}
.collection .see-more-btn{
    display: flex;
    justify-content: flex-end;
}
.collection .see-more-btn a{
    font-weight: bold;
    font-size: 18px;
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    margin-top: 40px;
    word-spacing: 5px;
}

/* Sign-Up Section Style */
.sign-up-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 70px 0;
    border-radius: 10px;
}
.sign-up-section .form-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sign-up-section .form-side h2{
    color: #FF735C;
    font-size: 35px;
    margin-bottom: 40px;
}
form{
    width: 50%;
    margin-bottom: 20px;
}
form label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}
form input{
    width: 95%;
    padding: 8px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #FF735C;
    color: #3A3A3A;
    font-size: 16px;
}
form .create-account-btn{
    text-align: start;
}
form .create-account-btn button{
    width: 75%;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
    border: none;
    background-color: #FF735C;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
form .create-account-btn p{
    margin-top: 10px;
    font-size: 15px;
}
.sign-up-section .image-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-section .image-side img{
    width: 100%;
}

/* Footer Section Style */
footer{
    background-color: #0A0826;
    height: 250px;
    text-align: center;
    color: #FFFFFF;
}
footer h2{
   padding-top: 50px;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
    font-weight: 400;
    margin: 3px 0;
}
footer .social-link{
    margin-top: 40px;
}
footer .social-link a i{
    margin-right: 10px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #22203B;
}

/* --------------------------------
---------- Responsive Style -------------
-----------------------------------*/

/* Smaller Smartphones */
@media screen and (max-width: 480px){
    .container{
        max-width: 480px;
        margin: 0 20px;
    }
    .header-item{
        margin-top: 15px;
    }
    .header-title h2{
        font-size: 21px;
    }
    .cart-icon .fas{
        font-size: 21px;
        margin-left: 10px;
        margin-right: 0;
    }
    .cart-icon span{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
        height: 100%;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 25px;
    }
    .banner-details{
        font-size: 14px;
    }
    .banner-img{
        width: 100%;
        justify-content: center;
    }
    .banner-img img{
        width: 258px;
        height: 257px;
    }
    .collection{
        margin-top: 50px;
    }
    .collection h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .products, .sign-up-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .collection .see-more-btn a{
        font-size: 16px;
        margin-top: 20px;
    }
    .sign-up-section{
        margin: 40px 0;
    }
    .sign-up-section .form-side{
        order: 2;
    }
    .sign-up-section .image-side{
        order: 1;
    }
    .sign-up-section .form-side h2{
        font-size: 25px;
        margin-bottom: 20px;
    }
    form{
        width: 85%;
    }
    form label{
        margin-top: 20px;
        margin-bottom: 2px;
    }
    form .create-account-btn p{
        font-size: 14px;
    }
}

/* Tablets & large Smartphones */
@media screen and (max-width: 768px) and (min-width: 480px){
    .container{
        max-width: 768px;
        margin: 0 30px;
    }
    .header-item{
        margin-top: 15px;
    }
    .header-title h2{
        font-size: 23px;
    }
    .cart-icon .fas{
        font-size: 23px;
        margin-left: 10px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
        height: 100%;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 25px;
    }
    .banner-details{
        font-size: 14px;
    }
    .banner-img{
        width: 100%;
        justify-content: center;
    }
    .banner-img img{
        width: 318px;
        height: 318px;
    }
    .collection{
        margin-top: 50px;
    }
    .collection h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
    .collection .see-more-btn a{
        font-size: 16px;
        margin-top: 20px;
    }
    .sign-up-section{
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 0;
        padding: 40px;
    }
    .sign-up-section .form-side{
        order: 2;
    }
    .sign-up-section .image-side{
        order: 1;
    }
    .sign-up-section .form-side h2{
        font-size: 25px;
        margin-bottom: 20px;
    }
    form{
        width: 80%;
    }
}

/* Laptops, large tablets in landscape, and small desktops */
@media screen and (max-width: 1279px) and (min-width: 768px){
    .container{
        max-width: 1279px;
        margin: 0 40px;
    }
    .header-item{
        margin-top: 15px;
    }
    .banner{
        margin-top: 30px;
        height: 100%;
    }
    .banner-content{
        text-align: center;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-img img{
        width: 308px;
        height: 308px;
    }
    .products, .sign-up-section{
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .collection .see-more-btn a{
        font-size: 16px;
        margin-top: 20px;
    }
    .sign-up-section{
        margin: 50px 0;
    }
    .sign-up-section .form-side h2{
        font-size: 25px;
        margin-bottom: 20px;
    }
    form{
        width: 75%;
    }
    .sign-up-section .form-side h2{
        margin: 20px 0;
    }
}